{% extends "layout.html" %}
{% block content %}
    <!-- Look at this shit, look at this shit... Jesus Christ!
    Somebody, please send me a PR without this shit!
    -->
    
    <br><br><br>

    <form action="" method="POST" name="form">
        <div class="col-md-4 col-md-offset-4">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label class="control-label" for="username">Username</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label class="control-label" for="full_name">Full name</label>
                {{ form.full_name }}
            </div>
            <div class="form-group">
                <label class="control-label" for="email">E-mail</label>
                {{ form.email }}
            </div>
            <div class="form-group">
                <label class="control-label" for="password">Password</label>
                {{ form.password }}
            </div>
            <p>
                <label class="control-label"><a class="bold" href="/login">Already have an account?</a> <br>
                </label>

            </p>
            <button class="btn btn-info" type="submit">SIGN UP</button>
        </div>
    </form>

{% endblock %}
