{% extends "layout.html" %}
{% block content %}

    <img src="../../static/img/wow.png" style="width:200px;height:260px;">
    <h1>404. Page Not Found</h1>
    <hr>
    <p><h6>If you want, you can follow me on github or fork this project.</h6></p>
    <iframe src="https://ghbtns.com/github-btn.html?user=lk-geimfari&amp;repo=ooocode&amp;type=follow&amp;count=true&amp;size=small"
            frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
    <iframe src="https://ghbtns.com/github-btn.html?user=lk-geimfari&amp;repo=ooocode&amp;type=fork&amp;count=true&amp;size=small"
            frameborder="0" scrolling="0" width="160px" height="30px"></iframe>

{% endblock %}
