{% extends "layout.html" %}
{% block content %}
    <body>

    <hr>
    <!--It's terrible -->
    <form action="/showpostandcomment" method="POST" name="form">
        {% for data in post %}
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img class="img-rounded" src= {{ data['image'] }}>

                    <div class="caption text-center">
                        <p>
                            <b>
                                <h4>{{ data['title'] }}</h4></b>
                        </p>
                        <p>{{ data['post_body'] }}</p>
                        <p>
                            <br><a href="{{ data['link'] }}" class="btn btn-info">More info</a>
                        </p>
                        {{ data['_id'] }}
                        <br>
                        {#                    <button class="btn btn-info" type="submit" href="/showpostandcomment?myid="{{data['_id']}} id = "btnCommit" value= {{ data['_id'] }} > show post comment</button>#}
                        <a href="/showpostandcomment?myid={{ data['_id'] }}" class="button">Go to Google</a>
                        {% if 'tags' in data %}
                            <hr>
                            {% for tag in data['tags'] %}
                                <span class="label label-default">{{ tag }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </form>
    </body>
{% endblock %}
