{% extends "layout.html" %}
{% block content %}
    <form action="" method="POST" name="form">

        <div class="col-md-12">
            <div class="col-md-5">
                {% for data in post %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="thumbnail">
                                <img class="img-rounded" src= {{ data['image'] }}>

                                <div class="caption text-center">
                                    <p>
                                        <b>
                                            <h4>{{ data['title'] }}</h4></b>
                                    </p>
                                    <p>{{ data['post_body'] }}</p>
                                    <p>
                                        <br><a href="{{ data['link'] }}" class="btn btn-info">More info</a>
                                    </p>
                                    <br>
                                    {% if 'tags' in data %}
                                        <hr>
                                        {% for tag in data['tags'] %}
                                            <span class="label label-default">{{ tag }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form.addYourComment(placeholder="add your comment here") }}
                                <button class="btn btn-info" type="submit" style="float: right ; margin-top: 10px">
                                    Send
                                </button>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-7">
                        {% for aaa in data['comments'] %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="thumbnail"
                                         style="background-color: #2e9c81 ; color: white ; margin-bottom: 0px">
                                        {{ aaa['userId'] }}
                                        <div class="thumbnail" style="margin-bottom: 0px ; color: black">
                                            {{ aaa['text'] }}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
        </div>
    </form>
{% endblock %}
